# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

__pycache__/
.Python
build/
.cache
*.log
target/
venv/

*.out

tmp/
install_asm*
.DS_Store
